# Ignore the git & github folder
'Git & GitHub/'

# Ignore the BIN folder
'BIN/'

# --- Java ---
*.class
*.jar
*.war
*.ear

# --- C / C++ ---
*.exe
*.o
*.obj
*.out
*.pdb

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- OS & IDE Files ---
.DS_Store
Thumbs.db
.vscode/